<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Ini judul</h1>
    <h2>ini bisa dijadiin sub-judul</h2>
    <!-- Di bawah ini buat input to-do list -->
    <p>insert to-do list</p>
    <form action="/" method="post">
        <input type="text" name="todo" id="">
        <button type="submit">Submit</button>
    </form>
    <!-- akhir dari input to-do list -->

    <!-- Di bawah ini buat list to-do list -->
    <p>to-do list</p>
    <ul>
        <% lists.forEach((list, index) => { %>
        <form action="/update" method="post">
            <input type="hidden" name="update" value ="<%= list.id %>">
            <li><%= list.todo %> | <input type="submit" value="Mark as Done"></li>
        </form>
        <% }) %>
    </ul>
    <!-- akhir dari to-do list -->

    <!-- Ini buat list kegiatan yang dah dilakuin -->
    <p>Done!</p>
    <ul>
        <% dones.forEach((done, index) => { %>
        <form action="/delete" method="post">
            <input type="hidden" name="delete" value="<%= done.id %>">
            <li><%= done.todo %> | <input type="submit" value="Delete"></li>
        </form>
        <% }) %>
    </ul>
    <!-- akhir dari kegiatan yang dah dilakuin -->
</body>

</html>